Body {
    text-align: center;
    margin: 0px;
    padding-top: 800px;
}

#Welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: white;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.Profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.Parallex_inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
}

#name {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;
}

#Bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
    text-align: center;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.menu {
    list-style: none;
    font-family: cursive;
    Position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.links {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    background-color: blue;
}
